## Í≤∞Ï∏°Ïπò Ï†úÍ±∞ Î∞è Í∑∏Î£π Ìï©Í≥ÑÏóêÏÑú Ï°∞Í±¥Ïóê ÎßûÎäî Í∞í Ï∞æÏïÑ Ï∂úÎ†•
- Ï£ºÏñ¥ÏßÑ Îç∞Ïù¥ÌÑ∞ Ï§ë basic1.csvÏóêÏÑú 'f1'Ïª¨Îüº Í≤∞Ï∏° Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ±∞ÌïòÍ≥†, 'city'ÏôÄ 'f2'ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Î¨∂Ïñ¥ Ìï©Í≥ÑÎ•º Íµ¨ÌïòÍ≥†, 'cityÍ∞Ä Í≤ΩÍ∏∞Ïù¥Î©¥ÏÑú f2Í∞Ä 0'Ïù∏ Ï°∞Í±¥Ïóê ÎßåÏ°±ÌïòÎäî f1 Í∞íÏùÑ Íµ¨ÌïòÏãúÏò§
- Îç∞Ïù¥ÌÑ∞ÏÖã : basic1.csv
- Ïò§Î•∏Ï™Ω ÏÉÅÎã® copy&edit ÌÅ¥Î¶≠ -> ÏòàÏÉÅÎ¨∏Ï†ú ÌíÄÏù¥ ÏãúÏûë

## üßë‚Äçüíª ÎÇ¥ ÌíÄÏù¥

In [1]:
import pandas as pd
df = pd.read_csv('/kaggle/input/bigdatacertificationkr/basic1.csv')
df.head()
df['f1'] = df['f1'].dropna(axis = 0) 
# dropna(axis =0 -> Ìñâ ÏßÄÏö∞Í∏∞ | axis = 1 -> Ïó¥ ÏßÄÏö∞Í∏∞)
# print(df.info())
df1 = df.groupby(['city', 'f2']).sum()
print(df1[:1]['f1'][0])

833.0

## üí° Hint
- Í∑∏Î£π Ìï©Í≥Ñ

In [2]:
import pandas as pd
df = pd.DataFrame({'User': ['ÎÑ§Î™®', 'ÎÑ§Î™®',
                              'ÏÑ∏Î™®', 'ÏÑ∏Î™®'],
                   'Max Speed': [120., 240., 57., 41.]})
df

  User  Max Speed
0   ÎÑ§Î™®      120.0
1   ÎÑ§Î™®      240.0
2   ÏÑ∏Î™®       57.0
3   ÏÑ∏Î™®       41.0

In [3]:
df.groupby(['User']).mean()

      Max Speed
User
ÎÑ§Î™®        180.0
ÏÑ∏Î™®         49.0

## üíÅ ÌíÄÏù¥

In [4]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∞è Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   ÏÑúÏö∏   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   ÏÑúÏö∏  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   ÏÑúÏö∏  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   ÏÑúÏö∏   NaN   2  NaN  INFP  52.667078
4  id05  24.0   ÏÑúÏö∏  85.0   2  NaN  ISFJ  29.269869

In [5]:
# f1Ïª¨Îüº Í≤∞Ï∏°Ïπò Ï†úÍ±∞
df = df[~df['f1'].isnull()]

In [6]:
# Í∑∏Î£π Ìï©Í≥Ñ Í≥ÑÏÇ∞
df2 = df.groupby(['city','f2']).sum()
df2

           age     f1          f5
city f2
Í≤ΩÍ∏∞   0   720.4  833.0  943.944823
     1   696.0  670.0  657.241212
     2   239.0  311.0  362.300060
ÎåÄÍµ¨   0   387.0  527.0  183.199568
     1   217.6  235.0  241.333824
     2   140.0  211.0   79.667919
Î∂ÄÏÇ∞   0   331.0  389.0  284.371097
     1   188.7  315.0  299.270973
     2   -13.5   47.0   67.886373
ÏÑúÏö∏   0   145.0  278.0  218.528577
     1   315.3  534.0  438.485010
     2    68.3  207.0  126.661135

In [7]:
# Ï°∞Í±¥Ïóê ÎßûÎäî Í∞í Ï∂úÎ†•
print(df2.iloc[0]['f1'])

833.0