### 'f4'Ïª¨ÎüºÏùò Í∞íÏù¥ 'ESFJ'Ïù∏ Îç∞Ïù¥ÌÑ∞Î•º 'ISFJ'Î°ú ÎåÄÏ≤¥ÌïòÍ≥†, 'city'Í∞Ä 'Í≤ΩÍ∏∞'Ïù¥Î©¥ÏÑú 'f4'Í∞Ä 'ISFJ'Ïù∏ Îç∞Ïù¥ÌÑ∞ Ï§ë 'age'Ïª¨ÎüºÏùò ÏµúÎåÄÍ∞íÏùÑ Ï∂úÎ†•ÌïòÏãúÏò§!
- Îç∞Ïù¥ÌÑ∞ÏÖã : basic1.csv
- Ïò§Î•∏Ï™Ω ÏÉÅÎã® copy&edit ÌÅ¥Î¶≠ -> ÏòàÏÉÅÎ¨∏Ï†ú ÌíÄÏù¥ ÏãúÏûë

## üßë‚Äçüíª ÎÇ¥ ÌíÄÏù¥

In [1]:
import pandas as pd
df = pd.read_csv('/kaggle/input/bigdatacertificationkr/basic1.csv')
df.head()
df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')
df1 = df[(df['city'] == 'Í≤ΩÍ∏∞') & (df['f4'] == 'ISFJ')]
print(df1['age'].max())

90.0

## üí° Hint

In [2]:
# Í∞í Î≥ÄÍ≤ΩÌïòÍ∏∞
import pandas as pd
data = pd.DataFrame([0, 1, 0, 1, 0])
data = data.replace(0, 2)
data

   0
0  2
1  1
2  2
3  1
4  2

## üíÅ ÌíÄÏù¥

In [3]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∞è Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head(2)

     id  age city    f1  f2   f3    f4         f5
0  id01  2.0   ÏÑúÏö∏   NaN   0  NaN  ENFJ  91.297791
1  id02  9.0   ÏÑúÏö∏  70.0   1  NaN  ENFJ  60.339826

In [4]:
# ESFJ Í∞íÏùÑ Í∞ÄÏßÑ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
df[df['f4'] == 'ESFJ']

      id   age city    f1  f2   f3    f4         f5
8   id09   3.3   ÏÑúÏö∏  35.0   2  NaN  ESFJ  17.252986
12  id13  15.0   ÏÑúÏö∏  68.0   0  NaN  ESFJ  83.685380
30  id31  86.0   Î∂ÄÏÇ∞  77.0   0  NaN  ESFJ  73.586397
58  id59  64.0   ÎåÄÍµ¨   NaN   1  NaN  ESFJ  20.129444
98  id99   1.0   Í≤ΩÍ∏∞  47.0   0  NaN  ESFJ  97.381034

In [5]:
# Í∞í Î≥ÄÍ≤ΩÌïòÍ∏∞
df['f4'] = df['f4'].replace('ESFJ', 'ISFJ')

In [6]:
# ESFJ Í∞íÏùÑ Í∞ÄÏßÑ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
df[df['f4'] == 'ESFJ']

Empty DataFrame
Columns: [id, age, city, f1, f2, f3, f4, f5]
Index: []

In [7]:
# 2Í∞úÏùò Ï°∞Í±¥Ïóê ÎßûÎäî Í∞í
df[(df['f4'] == 'ISFJ') & (df['city'] == 'Í≤ΩÍ∏∞')]

      id   age city    f1  f2   f3    f4         f5
62  id63  88.0   Í≤ΩÍ∏∞  86.0   1  NaN  ISFJ  73.586397
66  id67  66.0   Í≤ΩÍ∏∞  52.0   1  NaN  ISFJ  73.586397
72  id73  90.0   Í≤ΩÍ∏∞   NaN   1  NaN  ISFJ  73.586397
80  id81  86.0   Í≤ΩÍ∏∞  50.0   1  NaN  ISFJ  37.113739
98  id99   1.0   Í≤ΩÍ∏∞  47.0   0  NaN  ISFJ  97.381034

In [8]:
# 2Í∞úÏùò Ï°∞Í±¥Ïóê ÎßûÎäî Í∞íÏ§ë ageÏª¨ÎüºÏùò ÏµúÎåÄÍ∞í
df[(df['f4'] == 'ISFJ') & (df['city'] == 'Í≤ΩÍ∏∞')]['age'].max()

90.0