## 작업형1 문제
### 1-1. age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력
- data_path: ../input/bigdatacertificationkr/basic1.csv

In [1]:
import pandas as pd
df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
Q3=df['age'].quantile(0.75)
Q1=df['age'].quantile(0.25)
print(int(abs(Q3-Q1)))

50

### 1-2.(loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, status_type 컬럼이 'video'인 데이터의 갯수
- data_path: ../input/big-data-analytics-certification-kr-2022/fb.csv

In [3]:
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification-kr-2022/fb.csv")
df.head()

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys
0,1,video,529,512,262,432,92,3,1,1,0
1,2,photo,150,0,0,150,0,0,0,0,0
2,3,video,227,236,57,204,21,1,1,0,0
3,4,photo,111,0,0,111,0,0,0,0,0
4,5,photo,213,0,0,204,9,0,0,0,0

In [4]:
df['test'] = (df['loves']+df['wows'])/df['reactions']
df.head()

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys,test
0,1,video,529,512,262,432,92,3,1,1,0,0.179584
1,2,photo,150,0,0,150,0,0,0,0,0,0.000000
2,3,video,227,236,57,204,21,1,1,0,0,0.096916
3,4,photo,111,0,0,111,0,0,0,0,0,0.000000
4,5,photo,213,0,0,204,9,0,0,0,0,0.042254

In [5]:
df_test1 = df[df['test']>0.4]
print(df_test1.head())
print(df_test1.describe())
df_test2 = df_test1[df_test1['test']<0.5]
print(df_test2.head())
print(df_test2.describe())

        id   type  reactions  comments  shares  likes  loves  wows  hahas  \
3116  3117  video        255       926     181    142    108     0      5
3817  3818  photo          1         1       0      0      0     1      0
3844  3845  photo          4         0       0      2      2     0      0
4096  4097  video          2         0       0      1      1     0      0
4148  4149  video          1         0       0      0      1     0      0

      sads  angrys      test
3116     0       0  0.423529
3817     0       0  1.000000
3844     0       0  0.500000
4096     0       0  0.500000
4148     0       0  1.000000
                id    reactions     comments      shares       likes  \
count   117.000000   117.000000   117.000000  117.000000  117.000000
mean   5563.820513   233.888889  1083.547009  236.623932  124.547009
std     614.488063   147.441676  1321.053593  136.290051   80.543680
min    3117.000000     1.000000     0.000000    0.000000    0.000000
25%    5379.000000   168.000000   352.000000  153.000000   85.000000
50%    5584.000000   225.000000   706.000000  218.000000  116.000000
75%    5983.000000   287.000000  1145.000000  285.000000  158.000000
max    7048.000000  1397.000000  7543.000000  695.000000  765.000000

            loves        wows       hahas        sads      angrys        test
count  117.000000  117.000000  117.000000  117.000000  117.000000  117.000000
mean   103.145299    2.341880    3.025641    0.444444    0.384615    0.478193
std     56.906800   12.810396    5.280840    0.736305    0.627614    0.119494
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.400463
25%     77.000000    0.000000    1.000000    0.000000    0.000000    0.418367
50%     99.000000    1.000000    2.000000    0.000000    0.000000    0.444109
75%    121.000000    2.000000    3.000000    1.000000    1.000000    0.488764
max    485.000000  139.000000   43.000000    3.000000    3.000000    1.000000
        id   type  reactions  comments  shares  likes  loves  wows  hahas  \
3116  3117  video        255       926     181    142    108     0      5
4624  4625  video       1397       771     695    765    485   139      4
4776  4777  video        259       695     263    151    106     0      2
4793  4794  video        146       303     221     73     69     2      1
4812  4813  video        184       530     224    101     80     0      1

      sads  angrys      test
3116     0       0  0.423529
4624     1       3  0.446671
4776     0       0  0.409266
4793     0       1  0.486301
4812     1       1  0.434783
                id    reactions     comments      shares       likes  \
count    90.000000    90.000000    90.000000   90.000000   90.000000
mean   5594.355556   260.288889  1169.588889  258.844444  142.055556
std     491.405421   146.621828  1260.612272  126.305489   79.523915
min    3117.000000   106.000000   194.000000   94.000000   61.000000
25%    5406.500000   184.750000   420.750000  172.500000  105.250000
50%    5576.000000   237.500000   799.000000  224.500000  134.500000
75%    5855.500000   292.000000  1175.000000  286.750000  163.500000
max    6702.000000  1397.000000  6316.000000  695.000000  765.000000

            loves        wows      hahas       sads     angrys       test
count   90.000000   90.000000  90.000000  90.000000  90.000000  90.000000
mean   110.911111    2.744444   3.588889   0.522222   0.466667   0.436520
std     53.690466   14.584555   5.851907   0.796450   0.673745   0.026134
min     43.000000    0.000000   0.000000   0.000000   0.000000   0.400463
25%     79.250000    0.000000   1.000000   0.000000   0.000000   0.415134
50%    102.500000    1.000000   2.000000   0.000000   0.000000   0.429967
75%    120.750000    2.000000   4.000000   1.000000   1.000000   0.453748
max    485.000000  139.000000  43.000000   3.000000   3.000000   0.497487

In [6]:
df_test3 = df_test2[df_test2['type'] == 'video']
df_test3.head()

,id,type,reactions,comments,shares,likes,loves,wows,hahas,sads,angrys,test
3116,3117,video,255,926,181,142,108,0,5,0,0,0.423529
4624,4625,video,1397,771,695,765,485,139,4,1,3,0.446671
4776,4777,video,259,695,263,151,106,0,2,0,0,0.409266
4793,4794,video,146,303,221,73,69,2,1,0,1,0.486301
4812,4813,video,184,530,224,101,80,0,1,1,1,0.434783

In [7]:
print(len(df_test3))

90

### 1-3. date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수
- data_path: ../input/big-data-analytics-certification-kr-2022/nf.csv

In [8]:
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification-kr-2022/nf.csv")
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."

In [9]:
df['date_added'] = pd.to_datetime(df['date_added'])
df = df[(df['date_added']>='2018-1-1') & (df['date_added']<'2018-1-31')]
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
5056,s5057,Movie,Jerry Seinfeld: I'm Telling You for the Last Time,Marty Callner,Jerry Seinfeld,United States,2018-01-30,1998,TV-14,69 min,Stand-Up Comedy
5057,s5058,TV Show,Retribution,NaN,"Georgina Campbell, Joe Dempsie, Adrian Edmonds...",United Kingdom,2018-01-30,2016,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Internationa..."
5058,s5059,Movie,Holy Camp!,"Javier Ambrossi, Javier Calvo","Macarena García, Anna Castillo, Belén Cuesta, ...",Spain,2018-01-29,2017,TV-MA,108 min,"Comedies, Dramas, Faith & Spirituality"
5059,s5060,Movie,A Futile and Stupid Gesture,David Wain,"Will Forte, Domhnall Gleeson, Martin Mull, Joe...",United States,2018-01-26,2018,TV-MA,102 min,Comedies
5060,s5061,Movie,Fakkah Fuzz: Almost Banned,Michael McKay,Fakkah Fuzz,Singapore,2018-01-26,2018,TV-MA,61 min,Stand-Up Comedy

In [10]:
df_test = df[df['country'] == 'United Kingdom']
print(len(df_test))

6

## 작업형1 풀이
### 1-1. age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고, 소수점 버려서, 정수로 출력
- data_path: ../input/bigdatacertificationkr/basic1.csv

In [11]:
import pandas as pd
df = pd.read_csv("../input/bigdatacertificationkr/basic1.csv")
# print("1사분위: ",df['age'].quantile(0.25))
# print("3사분위: ",df['age'].quantile(0.75))

result = abs(df['age'].quantile(0.25) - df['age'].quantile(0.75))
# print("절대값 차이: ",result)

print(int(result))

50

### 1-2.(loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서, status_type=='video'인 데이터의 갯수
- data_path: ../input/big-data-analytics-certification-kr-2022/fb.csv

In [12]:
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification-kr-2022/fb.csv")
cond1 = (df['loves'] + df['wows'])/ df['reactions'] > 0.4
cond2 = (df['loves'] + df['wows'])/ df['reactions'] < 0.5
cond3 = df['type'] == 'video'

print(len(df[cond1 & cond2 & cond3]))

90

### 1-3. date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 갯수¶
- data_path: ../input/big-data-analytics-certification-kr-2022/nf.csv

In [13]:
# 풀이1 datatime 활용1
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification-kr-2022/nf.csv")

cond1 = df['country'] == "United Kingdom"

df['date_added'] = pd.to_datetime(df['date_added'])
df['year'] = df['date_added'].dt.year
df['month'] = df['date_added'].dt.month


cond2 = df['year'] == 2018
cond3 = df['month'] == 1

print(len(df[cond1 & cond2 & cond3]))

6

In [14]:
# 풀이2 datatime 활용2
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification-kr-2022/nf.csv")

cond1 = df['country'] == "United Kingdom"

df['date_added'] = pd.to_datetime(df['date_added'])

cond2 = df['date_added'] >= '2018-1-1'
cond3 = df['date_added'] <= '2018-1-31'

print(len(df[cond1 & cond2 & cond3]))

6

In [15]:
# 풀이3 datatime + between 활용
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification-kr-2022/nf.csv")

cond1 = df['country'] == "United Kingdom"
df['date_added'] = pd.to_datetime(df['date_added'])
cond2 = df['date_added'].between('2018-1-1', '2018-1-31')
print(len(df[cond1 & cond2]))

6

In [16]:
# 풀이4
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification-kr-2022/nf.csv")

cond1 = df['country'] == "United Kingdom"

df['date_added'] = df['date_added'].fillna("")

str1 = "2018"
str2 = "January"
cond2 = df['date_added'].str.contains(str1)
cond3 = df['date_added'].str.contains(str2)

print(len(df[cond1 & cond2 & cond3]))

6

### (추가 문제) 4. 그런데 만약 'country'컬럼에 대소문자 함께 있고, 띄어쓰기가 있는 것도 있고 없는 것도 있다면?

In [17]:
import pandas as pd
df = pd.read_csv("../input/big-data-analytics-certification-kr-2022/nf.csv")

# 띄어쓰기 제거
df['country'] = df['country'].str.replace(' ','')

# 소문자로 변경
df['country'] = df['country'].str.lower()
df['country']

cond1 = df['country'] == "unitedkingdom"

df['date_added'] = pd.to_datetime(df['date_added'])
df['year'] = df['date_added'].dt.year
df['month'] = df['date_added'].dt.month


cond2 = df['year'] == 2018
cond3 = df['month'] == 1

print(len(df[cond1 & cond2 & cond3]))

6