## 결측치 처리
-  주어진 데이터에서 결측치가 80%이상 되는 컬럼은(변수는) 삭제하고, 80% 미만인 결측치가 있는 컬럼은 'city'별 중앙값으로 값을 대체하고 'f1'컬럼의 평균값을 출력하세요!
- 데이터셋 : basic1.csv 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- 강의 영상 : https://youtu.be/WqlpqBRn7x4

## 🧑‍💻 내 풀이

In [1]:
import pandas as pd
df = pd.read_csv('/kaggle/input/bigdatacertificationkr/basic1.csv')
df.head(5)

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [2]:
# df.shape
df.isnull().sum()
df1 = df.pop('f3')

In [3]:
s_med = df[df['city'] == '서울']['f1'].median()
k_med = df[df['city'] == '경기']['f1'].median()
b_med = df[df['city'] == '부산']['f1'].median()
d_med = df[df['city'] == '대구']['f1'].median()
# print(s_med, k_med, b_med, d_med)
s = df[df['city'] == '서울']
k = df[df['city'] == '경기']
b = df[df['city'] == '부산']
d = df[df['city'] == '대구']

s['f1'] = s['f1'].fillna(s_med)
k['f1'] = k['f1'].fillna(k_med)
b['f1'] = b['f1'].fillna(b_med)
d['f1'] = d['f1'].fillna(d_med)

print((s['f1'].sum() + k['f1'].sum() + b['f1'].sum() + d['f1'].sum()) 
    / (len(s) + len(k) + len(b) + len(d)))

65.52

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## 💡 Hint
- city별 중앙값으로 대체에서는 map함수 활용

## 💁 풀이

In [4]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np

df = pd.read_csv('../input/bigdatacertificationkr/basic1.csv')
df.head()

     id   age city    f1  f2   f3    f4         f5
0  id01   2.0   서울   NaN   0  NaN  ENFJ  91.297791
1  id02   9.0   서울  70.0   1  NaN  ENFJ  60.339826
2  id03  27.0   서울  61.0   1  NaN  ISTJ  17.252986
3  id04  75.0   서울   NaN   2  NaN  INFP  52.667078
4  id05  24.0   서울  85.0   2  NaN  ISFJ  29.269869

In [5]:
# EDA - 결측값 확인
df.isnull().sum()

id       0
age      0
city     0
f1      31
f2       0
f3      95
f4       0
f5       0
dtype: int64

In [6]:
# 데이터 shape
df.shape

(100, 8)

In [7]:
# EDA - 결측비율 확인
df.isnull().sum()/df.shape[0]

id      0.00
age     0.00
city    0.00
f1      0.31
f2      0.00
f3      0.95
f4      0.00
f5      0.00
dtype: float64

In [8]:
# f3 컬럼 삭제
print("삭제 전:", df.shape)
df = df.drop(['f3'], axis=1)
print("삭제 후:", df.shape)

# 결측치가 있는 컬럼을 제거하는 2가지 방법
# df.drop(['B', 'C'], axis=1)
# df.drop(columns=['B', 'C'])

삭제 전: (100, 8)
삭제 후: (100, 7)

In [9]:
# 도시 확인
df['city'].unique()

array(['서울', '부산', '대구', '경기'], dtype=object)

In [10]:
# 도시별 중앙값 계산
s=df[df['city']=='서울']['f1'].median()
k=df[df['city']=='경기']['f1'].median()
b=df[df['city']=='부산']['f1'].median()
d=df[df['city']=='대구']['f1'].median()
s, k, b, d

#방법2
# k, d, b, s = df.groupby('city')['f1'].median()

(68.0, 58.0, 62.0, 75.0)

In [11]:
# 대체 전 데이터 샘플 출력
df[18:21]

      id   age city    f1  f2    f4         f5
18  id19  53.0   서울   NaN   0  ISFP  83.685380
19  id20  11.0   서울  51.0   1  INTJ  91.297791
20  id21  90.0   부산   NaN   1  ISFP  29.269869

In [12]:
# f1결측치 city별 중앙값으로 대체
df['f1'] = df['f1'].fillna(df['city'].map({'서울':s,'경기':k,'부산':b,'대구':d}))

# 만약 그냥 f1 중앙값으로 대체 한다면 
# df['f1'] = df['f1'].fillna(df['f1'].median())

In [13]:
# 대체 후 데이터 샘플 출력
df[18:21]

      id   age city    f1  f2    f4         f5
18  id19  53.0   서울  68.0   0  ISFP  83.685380
19  id20  11.0   서울  51.0   1  INTJ  91.297791
20  id21  90.0   부산  62.0   1  ISFP  29.269869

In [14]:
#결과 출력
print(df['f1'].mean())

65.52