## 이상치를 찾아라
### 데이터에서 IQR을 활용해 Fare컬럼의 이상치를 찾고, 이상치 데이터의 여성 수를 구하시오
- 강의 영상 : https://youtu.be/ipBW5D_UJEo
- 데이터셋 : titanic 
- 오른쪽 상단 copy&edit 클릭 -> 예상문제 풀이 시작
- 데이터 위치 "../input/titanic/train.csv" (copy&edit가 아닐 경우 별도로 데이터셋 불러와야 함)

## 🧑‍💻 내 풀이

In [1]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
df = pd.read_csv('/kaggle/input/titanic/train.csv')
# df.head(5)

Fare_Q3 = df['Fare'].quantile(0.75)
Fare_Q1 = df['Fare'].quantile(0.25)
IQR = Fare_Q3 - Fare_Q1
df['test'] = (df['Fare'] > Fare_Q3 + 1.5 * IQR) | (df['Fare'] < Fare_Q1 - 1.5 * IQR)
# df['test'].head(5)

df1 = df[df['Sex'] == 'female']
print(df1['test'].sum())

70

## 💡 Hint

In [2]:
# IQR 구하기
# pandas 활용
# Q1 = df[col].quantile(.25)
# Q3 = df[col].quantile(.75)

# numpy 활용
# Q1 = np.percentile(df[col], 25)
# Q3 = np.percentile(df[col], 75)

# IQR = Q3 - Q1
# Q1 - 1.5 * IQR, Q3 + 1.5 * IQR

## 💁 해답

In [3]:
# 라이브러리 및 데이터 불러오기
import pandas as pd
import numpy as np
df = pd.read_csv('../input/titanic/train.csv')

In [4]:
# 간단한 탐색적 데이터 분석 (EDA)
print(df.shape)
print(df.isnull().sum())
df.head()

(891, 12)
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
# IQR 구하기
Q1 = df['Fare'].quantile(.25)
Q3 = df['Fare'].quantile(.75)

# numpy 활용시
# Q1 = np.percentile(df['Fare'], 25)
# Q3 = np.percentile(df['Fare'], 75)

IQR = Q3 - Q1
Q1 - 1.5 * IQR, Q3 + 1.5 * IQR

(-26.724, 65.6344)

In [6]:
# 이상치 데이터 구하기
outdata1 = df[df['Fare']<(Q1 - 1.5 * IQR)]
outdata2 = df[df['Fare']>(Q3 + 1.5 * IQR)]
len(outdata1), len(outdata2)

(0, 116)

In [7]:
# 이상치 데이터에서 여성 수 구하기, 출력하기 print()
print(sum(outdata2['Sex'] == 'female'))

70